.root {
    -fx-width: 100%;
    -fx-height: 100%;
}

Text {
    -fx-font-size: 16px;
    -fx-fill: white;
}


.header-text {
    -fx-font-size: 24px;
}

.image {
    -fx-width: 300px;
    -fx-height: auto;
}

.file-button {
    -fx-margin: 10px;
}

.adder-button {
    -fx-background-color: white;
    -fx-border-color: #850101;
    -fx-border-width: 1px;
    -fx-border-radius: 0;
    -fx-effect: null;
    -fx-text-fill: #850101;
    -fx-padding: 8px;
    -fx-width: 50px;
    -fx-height: 15px;
}

.adder-button:hover {
    -fx-background-color: #a0a0a0;
    -fx-text-fill: red;
}
