.headerBox {
    -fx-fill: #850101;
}

.buttonCon {
    -fx-padding: 0 2px;
}

.headerButton {
     -fx-margin-top: 2px;
     -fx-border-color: white;
     -fx-background-color: #a75656;
     -fx-text-fill: white;

}

.box {
    -fx-fill: red;
    -fx-height: 1000;
    -fx-min-height: 0;
    -fx-max-height: 10000.0000;
}

.header-text {
    -fx-fill: white;
    -fx-font-family: sans;
    -fx-font-size: 28;
}

.menu-box {
    -fx-fill: #a0a0a0;
    -fx-padding: 10px 0 0 8px;
    -fx-spacing: 7px;

}

.menu-header {
    -fx-fill: white;
    -fx-font-size: 18px;
}

.menu-button {
    -fx-background-color: white;
    -fx-border-color: #850101;
    -fx-border-width: 1px;
    -fx-border-radius: 0;
    -fx-effect: null;
    -fx-text-fill: #850101;
    -fx-padding: 8px;
    -fx-width: 50px;
    -fx-height: 15px;
}

.menu-button:hover {
    -fx-background-color: #a0a0a0;
    -fx-text-fill: red;
}

.header-con {
    -fx-gap: 25px;
    -fx-fill: red;
    -fx-background-color: #555555;
}